{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
  <h1>Привет! Меня зовут Маша и я автор проекта Yatube.</h1>
  <p>
    Я пришла в мир программирования летом 2022 и не жалею об этом. 
    Пробовала разные курсы, от тестировщика до дизайнера. 
    Даже попробовала разные языки программирования, но больше, 
    чем Python, меня не зацепил никто. Этот курс даётся мне 
    очень сложно, но я стараюсь и настроена работать.

    В изучении мне помогают периодические перерывы, перекусы и прогулки.
    А также после плотного учебного дня я люблю отдохнуть за просмотром 
    сериала, очень расслабляет мозг. А ещё, моя кошка очень помогала мне
    в обучении. Когда что-то не получалось, она просто сидела и сочувственно
    смотрела на меня. Поддержка очень важна!
  </p>
{% endblock %}